<div class="row-layout cabealho-conexo-tv">
  <div class="column-layout texto-cabealho-tv">
    <h3 class="content">
      Conexão TV LG WebOS
    </h3>
    <p class="subttulo-transmisso-tv">
      Configure e transmita canais e filmes do seu PC diretamente para o navegador da sua TV LG
    </p>
  </div>
</div>
<div class="row-layout corpo-principal-transmisso">
  <div class="column-layout ajustes-de-porta-e-ip">
    <form class="column-layout formulrio-conexo-tv">
      <h6 class="content_2">
        Configuração do Servidor Local
      </h6>
      <div class="row-layout campos-porta-e-ip">
        <igx-input-group type="border" class="porta-de-conexo">
          <igx-prefix>
            <igx-icon class="icon-mpeiij">
              settings_ethernet
            </igx-icon>
          </igx-prefix>
          <input type="text" [(ngModel)]="value" required="true" igxInput #igxInput />
          <label igxLabel>Porta de Conexão</label>
          @if (igxInput.validity.valueMissing) {
            <igx-hint>This field is required</igx-hint>
          }
        </igx-input-group>
        <igx-input-group type="border" class="ip-do-pc">
          <igx-prefix>
            <igx-icon class="icon-mpeiij">
              computer
            </igx-icon>
          </igx-prefix>
          <input type="text" [(ngModel)]="value1" required="true" igxInput #igxInput1 />
          <label igxLabel>IP Local do PC</label>
          @if (igxInput1.validity.valueMissing) {
            <igx-hint>This field is required</igx-hint>
          }
        </igx-input-group>
      </div>
      <div class="column-layout instrues-de-acesso">
        <p class="ig-typography__overline subttulo-transmisso-tv">
          Passo 1: No navegador da TV LG WebOS, acesse:
        </p>
        <h5 class="content">
          http://192.168.1.100:8080/play
        </h5>
        <p class="ig-typography__caption content_2">
          Certifique-se de que a TV LG e o PC estejam conectados na mesma rede Wi-Fi/Cabo.
        </p>
      </div>
      <div class="row-layout aes-de-transmisso">
        <button igxButton="contained" type="button" class="iniciar-servidor">
          Iniciar Transmissão
        </button>
      </div>
    </form>
  </div>
  <div class="column-layout ajustes-de-porta-e-ip">
    <div class="column-layout melhorias-de-imagem">
      <h6 class="content_2">
        Otimização e Processamento TV LG
      </h6>
      <div class="row-layout controle-upscaling">
        <div class="column-layout texto-cabealho-tv">
          <p class="ig-typography__subtitle-2 content">
            Upscaling Automático para 4K
          </p>
          <p class="ig-typography__body-2 content_2">
            Melhora automaticamente a qualidade de streams de baixa resolução na TV LG
          </p>
        </div>
        <igx-switch [(ngModel)]="checked" class="interruptor-4-k">
          Label
        </igx-switch>
      </div>
      <div class="row-layout controle-upscaling">
        <div class="column-layout texto-cabealho-tv">
          <p class="ig-typography__subtitle-2 content_2">
            Preencher Tela Automático (100%)
          </p>
          <p class="ig-typography__body-2 content_2">
            Sincroniza os botões 100% do PC para forçar tela cheia no navegador WebOS
          </p>
        </div>
        <igx-switch [(ngModel)]="checked1" class="interruptor-4-k">
          Label
        </igx-switch>
      </div>
      <div class="row-layout controle-upscaling">
        <div class="column-layout texto-cabealho-tv">
          <p class="ig-typography__subtitle-2 content_2">
            Sincronização de Áudio Sem Atraso
          </p>
          <p class="ig-typography__body-2 content_2">
            Prioriza o buffer de áudio para evitar atraso de som entre o PC e a TV
          </p>
        </div>
        <igx-switch [(ngModel)]="checked2" class="interruptor-4-k">
          Label
        </igx-switch>
      </div>
    </div>
  </div>
</div>
