<igx-navbar class="barra-superior-de-navegao">
  <igx-navbar-action>
    <button igxIconButton="flat" [igxToggleAction]="menuDeNavegaoLateral" class="menu">
      <igx-icon class="icon">
        menu
      </igx-icon>
    </button>
  </igx-navbar-action>
  <igx-navbar-title class="navbar-content">
    <h6 class="h6">
      PC to TV Streamer
    </h6>
  </igx-navbar-title>
</igx-navbar>
<div class="row-layout corpo-da-estrutura">
  <igx-nav-drawer [isOpen]="true" [pin]="true" width="320px" #menuDeNavegaoLateral class="menu-de-navegao-lateral">
    <ng-template igxDrawer>
      <div igxDrawerItem [active]="isActive(`/player-de-mdia`)" [routerLink]="[`/player-de-mdia`]">
        <span>Player de Canais</span>
      </div>
      <div igxDrawerItem [active]="isActive(`/configuraes-de-transmisso`)" [routerLink]="[`/configuraes-de-transmisso`]">
        <span>Ajustes de Conexão</span>
      </div>
    </ng-template>
  </igx-nav-drawer>
  <div class="continer-principal-de-telas">
    <router-outlet></router-outlet>
  </div>
</div>
<igx-snackbar actionText="Action" (clicked)="notificaoTelaCheia.toggle()" #notificaoTelaCheia class="notificao-tela-cheia">
  Simulando Modo Tela Cheia 100% no PC para Conexão TV LG WebOS!
</igx-snackbar>
<igx-snackbar actionText="Action" [displayTime]="4500" (clicked)="notificaoTransmisso.toggle()" #notificaoTransmisso class="notificao-tela-cheia">
  Servidor local iniciado na porta 8080. Acesse no navegador da sua TV LG WebOS!
</igx-snackbar>
